## Data exploration and pre-processing
Basically, for any data analysis or machine learning project the following has to be conducted
- Data gtahering 
- Data assessing 
- Data ceaning

## Data gathering has been allready done

## Data assessing 
- Assessing is the second and it is assessed to inspect data for two things:
 - **Data quality issues**: Data that has quality issues have issues with content like missing, duplicate, or incorrect data. 
 - **Lack of tidiness**: Data that has specific structural issues

You can search for these issues in two ways:
- Visually by scrolling
- Programmatically using code

for this project I used programmatic Assessment using the following methods 
- .head (DataFrame and Series)
- .tail (DataFrame and Series)
- .sample (DataFrame and Series)
- .info (DataFrame only)
- .describe (DataFrame and Series)
- and other

### some methods associated with quality issue
- .value_counts 
- .duplicates 
- .sort_values 
- sum of .isnull

In [1]:
# loding liberaries
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('cleaned_twitterData_data.csv')

In [3]:
df.head(2)

,created_at,source,original_text,subjectivity,polarity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Sun Aug 07 22:31:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @i_ameztoy: Extra random image (I):\n\nLets...,0.190625,-0.125,en,4,2,i_ameztoy,20497,2621,NaN,City,i_ameztoy,NaN
1,Sun Aug 07 22:31:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @IndoPac_Info: #China's media explains the ...,0.100000,-0.100,en,691,201,ZIisq,65,272,NaN,"China, Taiwan",IndoPac_Info,NaN

In [4]:
# shape info
df.shape

(21997, 15)

In [5]:
# checking against null value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21997 entries, 0 to 21996
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          21997 non-null  object
 1   source              21997 non-null  object
 2   original_text       21997 non-null  object
 3   subjectivity        21997 non-null  float64
 4   polarity            21997 non-null  float64
 5   lang                21997 non-null  object
 6   favorite_count      21997 non-null  int64
 7   retweet_count       21997 non-null  int64
 8   original_author     21997 non-null  object
 9   followers_count     21997 non-null  int64
 10  friends_count       21997 non-null  int64
 11  possibly_sensitive  6190 non-null   object
 12  hashtags            19138 non-null  object
 13  user_mentions       18695 non-null  object
 14  place               12106 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.5+ MB

In [7]:
# satitstical information 
df.describe()

,subjectivity,polarity,favorite_count,retweet_count,followers_count,friends_count
count,21997.000000,21997.000000,21997.000000,21997.000000,2.199700e+04,21997.000000
mean,0.283878,0.061334,852.241033,176.768241,1.796985e+04,1563.237305
std,0.290964,0.223716,3106.276392,498.466921,3.030684e+05,4358.923487
min,0.000000,-1.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,2.000000,2.000000,5.700000e+01,137.000000
50%,0.200000,0.000000,115.000000,38.000000,2.840000e+02,487.000000
75%,0.469048,0.133333,655.000000,187.000000,1.324000e+03,1599.000000
max,1.000000,1.000000,65170.000000,17409.000000,1.449852e+07,208360.000000

In [8]:
# checking null
df.isnull().any().sum()

4

In [9]:
#checking against duplicated observation
df.duplicated().any().sum()

0

In [10]:
#cheking source and orginal_text columns
df[['source','original_text']].head(3)

,source,original_text
0,"<a href=""http://twitter.com/download/android"" ...",RT @i_ameztoy: Extra random image (I):\n\nLets...
1,"<a href=""http://twitter.com/download/android"" ...",RT @IndoPac_Info: #China's media explains the ...
2,"<a href=""http://twitter.com/download/android"" ...","China even cut off communication, they don't a..."

### Result of the assesmement
- Created_at datatype issue
- missing vaues are there
- the source and original text needs to be cleaned

### Cleaning  
it helps as to solve the following 
- duplicate data
- missing data
- inaccurate data
- incomplete data

In [11]:
# handling with missing values with drop method
df = df.dropna()

In [12]:
# checking against missing value
df.isnull().any().sum()

0

In [13]:
# habdling created_at datatype
df['created_at'] =pd.to_datetime(df['created_at'])

In [14]:
#checking datatype
df['created_at'].dtype

datetime64[ns, UTC]

In [16]:
# handling the source and original text needs to be cleaned
df['source']

5        <a href="http://twitter.com/download/android" ...
36       <a href="http://twitter.com/download/android" ...
39       <a href="http://twitter.com/download/android" ...
43       <a href="https://help.twitter.com/en/using-twi...
48       <a href="http://twitter.com/download/android" ...
                               ...
21978    <a href="https://mobile.twitter.com" rel="nofo...
21986    <a href="http://twitter.com/download/iphone" r...
21987    <a href="http://twitter.com/download/iphone" r...
21989    <a href="http://twitter.com/download/iphone" r...
21993    <a href="http://twitter.com/download/android" ...
Name: source, Length: 1976, dtype: object

## Topic Modeling

## Sentiment Analysis