## Data exploration and pre-processing
Basically, for any data analysis or machine learning project the following has to be conducted
- Data gtahering 
- Data assessing 
- Data ceaning

## Data gathering has been allready done

## Data assessing 
- Assessing is the second and it is assessed to inspect data for two things:
 - **Data quality issues**: Data that has quality issues have issues with content like missing, duplicate, or incorrect data. 
 - **Lack of tidiness**: Data that has specific structural issues

You can search for these issues in two ways:
- Visually by scrolling
- Programmatically using code

for this project I used programmatic Assessment using the following methods 
- .head (DataFrame and Series)
- .tail (DataFrame and Series)
- .sample (DataFrame and Series)
- .info (DataFrame only)
- .describe (DataFrame and Series)
- and other

### some methods associated with quality issue
- .value_counts 
- .duplicates 
- .sort_values 
- sum of .isnull

In [1]:
# loding liberaries
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('cleaned_twitterData_data.csv')

In [3]:
df.head(2)

,created_at,source,original_text,subjectivity,polarity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Sun Aug 07 22:31:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @i_ameztoy: Extra random image (I):\n\nLets...,0.190625,-0.125,en,4,2,i_ameztoy,20497,2621,NaN,City,i_ameztoy,NaN
1,Sun Aug 07 22:31:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @IndoPac_Info: #China's media explains the ...,0.100000,-0.100,en,691,201,ZIisq,65,272,NaN,"China, Taiwan",IndoPac_Info,NaN

In [4]:
# shape info
df.shape

(21997, 15)

In [9]:
# checking against null value
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subjectivity     8 non-null      float64
 1   polarity         8 non-null      float64
 2   favorite_count   8 non-null      float64
 3   retweet_count    8 non-null      float64
 4   followers_count  8 non-null      float64
 5   friends_count    8 non-null      float64
dtypes: float64(6)
memory usage: 448.0+ bytes

In [11]:
# satitstical information 
df.describe()

,subjectivity,polarity,favorite_count,retweet_count,followers_count,friends_count
count,8.000000,8.000000,8.000000,8.000000,8.000000e+00,8.000000
mean,5158.193091,5158.021345,15923.307015,5626.508502,3.405275e+06,49554.838676
std,7358.643302,7358.767180,21613.756051,7266.732369,4.848337e+06,69438.737289
min,0.000000,-1.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,6.822234,6.793730,41.222656,16.859375,1.004961e+02,173.164062
50%,3367.747695,3367.616833,11943.562310,4603.343828,2.242993e+06,34273.084739
75%,5623.221244,5623.159649,17745.226378,6667.999897,3.712014e+06,54061.472754
max,21997.000000,21997.000000,65170.000000,21997.000000,1.449852e+07,208360.000000